<div>
	<h1>Test header</h1>
	<input type="text" class="form-control" />
	<button type="button" class="btn btn-default" onClick="$('#id_display_div').html('111111')">
		<span class="glyphicon glyphicon-camera" aria-hidden="true"></span>Test
	</button><br>
	This content originates from a separate HTML file! The sample parameter is <div id="id_display_div"></div>
</div>
<script>
	$(document).ready(function() {
		$('#id_display_div').html(sampleParameter);
	});	
</script>